* {
  margin: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.navbar .conteiner .bolim img {
  width: 69px;
  height: 69px;
}
.navbar .conteiner .bolim menu ul {
  margin-left: 318px;
}
.navbar .conteiner .bolim menu ul li {
  margin-top: 10px;
  list-style: none;
}
.navbar .conteiner .bolim menu ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar .conteiner .bolim menu .a-href {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  height: 42px;
  margin-left: 300px;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  background: rgb(0, 130, 244);
}

.qornqism1 .conteiner .boss .chap .p1 {
  margin-top: 100px;
  color: rgb(0, 128, 253);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.qornqism1 .conteiner .boss .chap h1 {
  font-family: Roboto;
  font-size: 60.55px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism1 .conteiner .boss .chap .p2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism1 .conteiner .boss .chap .href {
  margin-top: 30px;
}
.qornqism1 .conteiner .boss .chap .href .a1 {
  padding: 20px 46px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  background: rgb(0, 130, 244);
}
.qornqism1 .conteiner .boss .chap .href .a2 {
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 63px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  border: solid rgb(229, 229, 229) 2px;
}
.qornqism1 .conteiner .boss .ong img {
  margin-left: 151px;
}

.qornqism2 .conteiner .boch .chap img {
  margin-top: 106px;
}
.qornqism2 .conteiner .boch .ong {
  margin-left: 140px;
}
.qornqism2 .conteiner .boch .ong .p1 {
  margin-top: 201px;
  color: rgb(0, 130, 244);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.qornqism2 .conteiner .boch .ong h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism2 .conteiner .boch .ong .p2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 50px;
}
.qornqism2 .conteiner .boch .ong a {
  padding: 20px 39px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  background: rgb(0, 130, 244);
}

.qornqism3 .conteiner .first {
  margin-bottom: 139px;
}
.qornqism3 .conteiner .first .h2 {
  margin-top: 173px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 48.44px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota {
  margin-top: 58px;
}
.qornqism3 .conteiner .first .divota .div1 {
  width: 324px;
  height: 346px;
}
.qornqism3 .conteiner .first .divota .div1 img {
  margin-left: 89px;
}
.qornqism3 .conteiner .first .divota .div1 h1 {
  margin-top: 60px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota .div1 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota .div2 {
  margin-left: 81px;
  width: 324px;
  height: 346px;
}
.qornqism3 .conteiner .first .divota .div2 img {
  margin-left: 89px;
}
.qornqism3 .conteiner .first .divota .div2 h1 {
  margin-top: 60px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota .div2 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota .div3 {
  margin-left: 81px;
  width: 324px;
  height: 346px;
}
.qornqism3 .conteiner .first .divota .div3 img {
  margin-left: 89px;
}
.qornqism3 .conteiner .first .divota .div3 h1 {
  margin-top: 60px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism3 .conteiner .first .divota .div3 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.qornqism4 .conteiner .yozuv .h22 {
  margin-top: 70px;
}
.qornqism4 .conteiner .yozuv img {
  margin-top: 70px;
  margin-left: 376px;
}

.qornqism5 .conteiner .tadiv .qism1 {
  width: 420px;
  height: 283px;
}
.qornqism5 .conteiner .tadiv .qism1 p {
  margin-left: 62px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism1 h4 {
  margin-left: 62px;
  margin-top: 45px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism1 h5 {
  margin-left: 62px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism1 .yarim {
  width: 62px;
  height: 283px;
  background-color: rgb(0, 130, 244);
  border-radius: 10px 0px 0px 10px;
}
.qornqism5 .conteiner .tadiv .qism1 .yarim img {
  margin-left: 30px;
  margin-top: 105px;
}
.qornqism5 .conteiner .tadiv .qism2 {
  width: 420px;
  height: 283px;
}
.qornqism5 .conteiner .tadiv .qism2 p {
  margin-left: 62px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism2 h4 {
  margin-left: 62px;
  margin-top: 45px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism2 h5 {
  margin-left: 62px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism2 .yarim {
  width: 62px;
  height: 283px;
  background-color: rgb(0, 130, 244);
  border-radius: 10px 0px 0px 10px;
}
.qornqism5 .conteiner .tadiv .qism2 .yarim img {
  margin-left: 30px;
  margin-top: 105px;
}
.qornqism5 .conteiner .tadiv .qism3 {
  width: 420px;
  height: 283px;
}
.qornqism5 .conteiner .tadiv .qism3 p {
  margin-left: 62px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism3 h4 {
  margin-left: 62px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism3 h5 {
  margin-left: 62px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism5 .conteiner .tadiv .qism3 .yarim {
  width: 62px;
  height: 283px;
  background-color: rgb(0, 130, 244);
  border-radius: 10px 0px 0px 10px;
}
.qornqism5 .conteiner .tadiv .qism3 .yarim img {
  margin-left: 30px;
  margin-top: 105px;
}

.qornqism6 {
  background: rgba(232, 236, 255, 0.3);
}
.qornqism6 .conteiner .birnima h1 {
  padding-top: 75px;
  padding-bottom: 15px;
  color: rgb(5, 138, 255);
  font-family: Roboto;
  font-size: 31.25px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism6 .conteiner .birnima p {
  padding-bottom: 31px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.qornqism6 .conteiner .birnima .inputt {
  padding-bottom: 76px;
}
.qornqism6 .conteiner .birnima .inputt img {
  margin-left: -310px;
}
.qornqism6 .conteiner .birnima .inputt input {
  background: rgba(232, 236, 255, 0.3);
  padding: 15px 70px;
  border-radius: 8px;
  margin-left: 450px;
  border: solid;
  border: none;
  outline: none;
  border: 1px solid rgba(5, 138, 255, 0.2);
}
.qornqism6 .conteiner .birnima .inputt .href {
  margin-left: 180px;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  background: rgb(0, 130, 244);
}

.qornqism7 .conteiner .foter {
  margin-top: 60px;
  margin-bottom: 50px;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina1 {
  margin-left: 50px;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina1 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina2 {
  margin-left: 150px;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina2 h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina2 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina3 {
  margin-left: 150px;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina3 h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina3 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina4 {
  margin-left: 150px;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina4 h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.qornqism7 .conteiner .foter .kottadiv .kichkina4 p {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer {
  background: linear-gradient(180deg, rgb(5, 138, 255), rgba(57, 55, 206, 0.87) 97.907%);
  height: 100px;
}
.footer .conteiner .frot .fot p {
  padding-top: 45px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.footer .conteiner .frot .sign {
  margin-left: 270px;
  margin-top: 45px;
}
.footer .conteiner .frot .sign .sigin {
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(60, 97, 225);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.footer .conteiner .frot .sign a {
  margin-right: 20px;
}/*# sourceMappingURL=style.css.map */